<!-- FullMonth Include -->
<div class="full-month well col-md-12"  ng-animate="{
    enter:'animated fadeIn',
    leave:'animated fadeOut'
  }" ng-show="$parent.show_fullmonth" ng-model="fullmonth" 
  ng-controller="FullmonthCtrl" ng-init="init()">

  <button class="close-month close" ng-show="show_fullmonth" ng-click="closeFullmonth()">x</button>
  <h1>{{monthName}}</h1>
  <h4>Employees</h4>

  <div class="areas_months-tabs col-md-5">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs ">
      <li ng-repeat="areaItem in areaItems" class="area-tab">
        <a data-target="#{{areaItem.area.id}}" ng-click="changeArea(areaItem)" data-toggle="tab">
        {{areaItem.area.name}}</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content ">
      <div class="tab-pane area-content"  id="{{areaItem.area.id}}" 
                ng-repeat="areaItem in areaItems">
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Grade</th>
            <th>Vac?</th>
          </thead>
          <tbody>
            <tr ng-repeat="emp in areaItem.emps" >
              <td data-drag="true" jqyoui-draggable="{animate:true}" class="month-employee"  jqyoui-options="{revert: true, revertDuration: 0, zIndex: 999}"  
                    data-emp-obj="{{ 
                      {title: emp.name+' - '+areaItem.area.name+' x', 
                      employee_id: emp.id, 
                      className: 'g'+emp.grade+'-event',
                      area_id: areaItem.area.id} }}">{{emp.name}}</td>
              <td>{{emp.grade_str}}</td>
              <td class="vacation">{{ [emp.id,areaItem.vacations] | vacation  }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-7" id="cal-workdays" ng-model="calWorkdays"></div>

</div>