<div class="full-month well "  ng-class="(show_employees) ? 'col-md-8':'col-md-12'"  ng-animate="{
  enter:'animated fadeIn',
  leave:'animated fadeOut'
}" ng-show="show_fullmonth" ng-model="fullmonth">
      
      <button class="close-month close" ng-show="show_fullmonth" ng-click="closeFullmonth()">x</button>
      <h1>{{currentAreasItem.monthName}}<h1>
      <h4>Employees<h4>


      <div class="areas-tabs col-md-4">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs ">
          <li ng-repeat="areaItem in currentAreasItem.areas" class="area-tab">
            <a href="#{{areaItem.area.id}}" data-toggle="tab">{{areaItem.area.name}}</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content ">
          <div class="tab-pane area-content"  id="{{areaItem.area.id}}" 
              ng-repeat="areaItem in currentAreasItem.areas">
            <table class="table">
              <thead>
                <th>Name</th>
                <th>Grade</th>
              </thead>
              <tbody>
                <tr ng-repeat="emp in areaItem.emps">
                  <td>{{emp.name}}</td>
                  <td>{{emp.grade_str}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>
  </div>