
<button ng-click="toggleEmployeesList()" class="btn btn-default pull-left close-employees">
  <i class="glyphicon glyphicon-list"></i>
</button>
<div class="row-fluid" >
  <div class="col-md-4 employees-list" ng-show="show_employees">
    
    <h1 class="title">Employees</h1>
    <input type="search" ng-model="filter.query" class="form-control" 
      placeholder="Enter to search..." />

    <table class="table sortable-theme-bootstrap" data-sortable="true">
      <thead>
        <tr>
          <th>Name</th>
          <th>Grade</th>
          <th>Area</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="employee in employees | filter:filter.query">
          <td data-value>{{ employee.name }}</td>
          <td>{{ employee.grade_str }}</td>
          <td>{{ employee.area_name }}</td>
          <td>
            <button type="button" ng-click="editEmployee(employee)" 
                data-toggle="modal" data-target="#employeeModal">
              <i class="glyphicon glyphicon-edit"></i>
            </button>
          </td>
          <td>
            <button type="button" ng-click="deleteEmployee(employee)">
              <i class="glyphicon glyphicon-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Button trigger employee modal -->
    <button class="btn btn-primary btn-lg" ng-click="newEmployeeMethod='save'"
      data-toggle="modal" data-target="#employeeModal">Add</button>

  </div>
  <!-- Calendar Preview Year -->
  <div id="calContent" ng-class="(show_employees) ? 'col-md-8':'col-md-12' " ng-model="cal" >
    <div class="innerCalContent" >
      <div class="well col-md-3 month-preview" data-month="{{month}}" 
                ng-click="openFullMonth(month)" ng-repeat="month in months">

        <div ng-include="'/templates/includes/month-item.html'"></div>
        
      </div>
    </div>
    <div ng-include="'/templates/includes/fullmonth.html'"></div>
  </div>
</div>
<div ng-include="'/templates/employees/employee-form.html'"></div>