<div class="row-fluid area-item">
  {{area.name}}
  <i class="emps-hi circle">{{hi_emps_count}}</i>,
  <i class="emps-md circle">{{md_emps_count}}</i>,
  <i class="emps-lw circle">{{lw_emps_count}}</i>
</div>