
<div class="well col-md-3 month-preview" data-month="{{month}}">
  <h3>{{monthName}}</h3>
  <ul class="list-unstyled">
  {{#each areas}}
    <li class="">{{> _area_item }}</li>
  {{/each}}
  </ul>
</div>    

