// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.emps-sh {
  color: #0099c7;
}
.emps-hi {
  color: #70bf44;
}
.emps-md {
  color: #f58052;
}
.emps-lw {
  color: #a94442;
}

.circle:before {
  content: '\25CF';
  font-size: 18px;
}
.area-item {
  font-size: 18px;
}

.month-preview {
  padding: 10px !important;
}

.full-month {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 120%;
  z-index: 222;
}

.close-employees {
  position: absolute;
  left: 3px;
  z-index: 55;
}

.title {
  text-align: center;
}

#cal-workdays {
  top: -50px;
  display: block;
}


.animate-enter, 
.animate-leave { 
  -webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 

.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
  height: 0px;
  opacity: 0;
}

.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  height: 30px;
  opacity: 1;
}