// Place all the styles related to the workdays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.g3-event {
  background-color: #0099c7;
}

.g2-event {
  background-color: #70bf44;
}

.g1-event {
  background-color: #f58052;
}

.g0-event {
  background-color: #a94442;
}